<footer class="bg-dark text-muted py-3 d-print-none" style="min-height: auto; height: auto;">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left: Main Links -->
      <div class="col-md-6 mb-2 mb-md-0">
        <div class="d-flex flex-wrap">
          <a href="{{ .Site.BaseURL }}docs/" class="text-white-50 text-decoration-none small me-3">Documentation</a>
          <a href="https://github.com/g3rhard/sysops-framework" class="text-white-50 text-decoration-none small me-3" target="_blank">
            <i class="fab fa-github me-1"></i>GitHub
          </a>
          <a href="https://github.com/g3rhard/sysops-framework/blob/main/LICENSE" class="text-white-50 text-decoration-none small" target="_blank">License</a>
        </div>
      </div>
      
      <!-- Right: Copyright -->
      <div class="col-md-6 text-md-end">
        <small class="text-white-50">
          &copy; {{ now.Year }} SysOps Framework Contributors
        </small>
      </div>
    </div>
  </div>
</footer>
